In [1]:
import pandas as pd

In [2]:
df = pd.read_gbq("""
SELECT 
pickup_datetime,
dropoff_datetime
FROM `bigquery-public-data.new_york.tlc_yellow_trips_2009`
LIMIT 10
""", project_id = 'datalab-does-not-work', dialect='standard')

Requesting query... ok.
Query running...
Query done.
Cache hit.

Retrieving results...
Got 10 rows.

Total time taken 4.46 s.
Finished at 2017-05-25 22:02:05.

In [3]:
df

      pickup_datetime    dropoff_datetime
0 2009-09-24 02:28:35 2009-09-24 02:42:27
1 2009-05-20 23:06:00 2009-05-20 23:14:00
2 2009-12-13 22:32:43 2009-12-13 22:39:08
3 2009-06-11 20:48:32 2009-06-11 20:54:35
4 2009-05-16 17:22:29 2009-05-16 17:25:10
5 2009-02-01 00:27:00 2009-02-01 00:31:00
6 2009-09-19 13:06:34 2009-09-19 13:14:06
7 2009-04-19 03:28:27 2009-04-19 03:37:40
8 2009-10-05 15:12:39 2009-10-05 15:15:41
9 2009-08-01 22:29:15 2009-08-01 22:38:39